.footer {
  background: url("images/background-dark.jpg") top center no-repeat $color-dark;
  background-size: contain;
  width: 100%;
  font-size: 1.4rem;
  color: $color-brown;
  padding-top: 4rem;

  &__wrapper {
    @include container;
    padding: 0 2.4rem;
  }

  &__guidepost {
    display: flex;
    flex-direction: column;

    @include respond-to("xs") {
      max-height: 500px;
      flex-wrap: wrap;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include respond-to("md") {
      flex-wrap: no-wrap;
      flex-direction: row;
    }
  }

  &__col {
    flex: 1 1 100%;

    @include respond-to("sm") {
      flex: 1 0 33.33333%;
    }

    @include respond-to("md") {
      flex: 1 0 25%;
    }
  }

  &__block {
    margin-bottom: 3rem;
  }

  &__title {
    display: block;
    font-family: $font-heading;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 1rem;

    @include respond-to("xs") {
      display: inline-block;
    }

    &--underline {
      position: relative;
      font-weight: 700;

      &:after {
        content: url(images/arrow-down-accent.svg);
        display: block;
        position: absolute;
        right: 0;
        top: -5px;
        width: 11px;
        height: 8px;
      }

      &.is-active {
        &:after {
          transform: rotate(180deg);
          top: 5px;

          @include respond-to("xs") {
            transform: none;
            top: auto;
          }
        }

        & + .footer__links {
          visibility: visible;
          height: auto;
        }
      }

      @include respond-to("xs") {
        &:after {
          content: "";
          position: relative;
          top: auto;
          right: auto;
          width: 100%;
          height: 3px;
          margin-top: 2px;
          background: url("images/underline.png");
        }
      }
    }
  }

  &__icon {
    color: $color-white;
    margin-right: 0.3rem;
  }

  &__title-link {
    color: $color-white;
    text-decoration: underline;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }

  &__links {
    margin-top: 0;
    visibility: hidden;
    height: 0;

    @include respond-to("xs") {
      visibility: visible;
      height: auto;
    }

    &--indented {
      display: none;
      margin-left: 2rem;

      @include respond-to("xs") {
        display: block;
      }
    }
  }

  &__item {
    line-height: 2;
  }

  &__link {
    color: $color-brown;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__icons {
    padding: 1.5rem 0;
    border-top: 1px solid $color-brown-dark;
    border-bottom: 1px solid $color-brown-dark;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__payment-method {
    max-height: 50px;
    opacity: 0.5;
    margin: 0 1rem;
  }

  &__data {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;

    @include respond-to("xs") {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__attribution {
    color: $color-brown;

    i {
      margin: 0 0.3rem;
      color: $color-accent;
    }

    span {
      text-decoration: underline;
    }
  }
}
