.header {
  background: url("images/background-dark.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &__wrapper {
    @include container-wide;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__logo {
    width: 79px;
    height: auto;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin: 0;
  }

  &__submenu {
    display: none;

    @include respond-to("sm") {
      display: inline-flex;
    }
  }

  &__item {
    font-family: $font-heading;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    padding: 0 1rem;
    position: relative;

    @include respond-to("sm") {
      padding: 0 2.9rem;
    }

    &:first-child {
      padding-left: 0;
      padding-right: 0;

      @include respond-to("sm") {
        padding-right: 2.9rem;
      }

      &:after {
        display: none;

        @include respond-to("sm") {
          display: block;
        }
      }
    }

    &:after {
      content: "";
      height: 33px;
      width: 1px;
      background-color: $color-brown-dark;
      position: absolute;
      right: 0;
      top: calc(50% - 33px / 2);
    }

    & > .header__submenu {
      width: 0;
      height: 0;
      visibility: hidden;
    }

    &.is-active {
      > .header__link {
        border-bottom: 2px solid $color-accent;

        @include respond-to("sm") {
          &:after {
            content: ":";
          }
        }
      }

      > .header__submenu {
        width: auto;
        height: auto;
        visibility: visible;
      }
    }
  }

  &__subitem {
    font-family: $font-body;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: none;
    letter-spacing: 0.32px;
    margin-left: 2.5rem;
  }

  &__link,
  &__sublink {
    color: $color-white;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &__sublink {
    &.is-active {
      color: $color-accent;
    }
  }
}
