.hero {
  background: url("images/hero-bck.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include respond-to("sm") {
    height: 600px;
  }

  &__content {
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    color: $color-white;
    padding-left: $side-space;
    padding-right: $side-space;
  }

  &__title {
    font-family: $font-heading;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2.3rem;

    @include respond-to("sm") {
      font-size: 4rem;
    }
  }

  &__text {
    font-family: $font-body;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5556;
    margin-bottom: 2.9rem;

    @include respond-to("sm") {
      font-size: 1.8rem;
    }
  }

  &__button {
    display: inline-block;
    font-family: $font-heading;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid $color-white;
    color: $color-white;
    padding: 2rem 4rem;

    &:hover {
      background-color: $color-white;
      color: $color-accent;
    }
  }
}
