.jobs {
  text-align: center;
  padding-bottom: 4rem;

  &__wrapper {
    text-align: left;
    padding-left: $side-space;
    padding-right: $side-space;

    @include respond-to("md") {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  &__map {
    height: 302px;
  }

  &__filters {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 2.8rem 0;

    @include respond-to("xs") {
      flex-flow: row;
      padding: 2.8rem;
    }
  }

  &__label {
    font-family: $font-heading;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &__select {
    position: relative;
    width: 100%;
    border-radius: 0;
    padding: 12px 50px 12px 16px;
    border: 1px solid $color-cream;
    appearance: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 300;
    background-image: url("images/arrow-down.svg");
    background-position: right 15px top 50%, 0, 0;
    background-size: 11px auto, 100%;
    background-repeat: no-repeat;
    margin: 1rem auto 2rem auto;

    @include respond-to("xs") {
      width: 223px;
    }
  }

  &__offers {
    margin: 0;
  }

  &__item {
    padding: 2rem;
    background-color: $color-white;
    margin-bottom: 1.7rem;
    border: 1px solid transparent;

    @include respond-to("xs") {
      padding: 3.2rem 3.6rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid $color-cream;

      .jobs__title span {
        text-decoration: underline;
      }
    }
  }

  &__title {
    font-family: $font-heading;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1.2rem;

    @include respond-to("xs") {
      font-size: 2.4rem;
      letter-spacing: 0.6px;
    }
  }

  &__atts {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
  }

  &__branch,
  &__time {
    &:before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      margin-right: 0.6rem;
      font-size: 1.6rem;
      color: $color-brown;
    }
    &:after {
      content: "|";
      position: relative;
      display: inline-block;
      margin: 0 0.5rem;
      color: $color-cream;
    }
  }

  &__branch {
    &:before {
      content: "\f015";
    }
  }

  &__time {
    &:before {
      content: "\f017";
    }
  }

  &__date {
    color: $color-brown;
  }
}
