.mosaic {
  text-align: center;
  background-color: $color-light;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;

    @include respond-to("xs") {
      flex-flow: row;
    }
  }

  &__col {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 33.333333%;
    overflow: hidden;

    &--full {
      display: block;

      @include respond-to("xs") {
        display: none;
      }

      @include respond-to("lg") {
        display: block;
      }
    }
  }

  &__window {
    flex: 1 1 50%;
    padding-bottom: 50%;
    position: relative;
    overflow: hidden;
    background-image: url("images/background-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &--content {
      position: relative;
    }

    &--1 {
      background-image: url("images/mosaic-1.jpg");
    }
    &--2 {
      background-image: url("images/mosaic-2.jpg");
    }
    &--3 {
      background-image: url("images/mosaic-3.jpg");
    }
    &--5 {
      background-image: url("images/mosaic-4.jpg");
      padding-bottom: 100%;
    }
    &--7 {
      background-image: url("images/mosaic-5.jpg");
    }
    &--8 {
      background-image: url("images/mosaic-6.jpg");
    }
    &--9 {
      background-image: url("images/mosaic-7.jpg");
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 7%;
  }

  &__highlight {
    font-family: $font-heading;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;

    @include respond-to("xs") {
      font-size: 1.5rem;
      margin-bottom: 2.85rem;
    }
  }

  &__icon {
    margin-right: 1rem;
  }

  &__text {
    font-family: $font-body;
    font-size: 1.4rem;
    color: $color-white;
    line-height: 1.5556;

    @include respond-to("xs") {
      font-size: 1.6rem;
    }

    @incl respond-to("lg") {
      font-size: 1.8rem;
    }
  }
}
