.section {
  background-color: $color-light;

  &--background {
    background: url("images/background-light.png") top center no-repeat
      $color-light;
    background-size: 500%;

    @include respond-to("sm") {
      background-size: 100%;
    }
  }

  &__title {
    display: inline-block;
    font-family: $font-heading;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3.6rem;
    margin-bottom: 4rem;
    padding-left: $side-space;
    padding-right: $side-space;

    &--underline {
      &:after {
        content: "";
        display: block;
        height: 6px;
        width: 100%;
        position: relative;
        background: url("images/underline.png");
      }
    }
  }
}
