.swiper {
  position: relative;

  @include respond-to("sm") {
    overflow: hidden;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  &__nav {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2.4rem;

    @include respond-to("sm") {
      display: block;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      width: 11px;
      height: 16px;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__pagination {
    margin-top: 1.6rem;

    @include respond-to("sm") {
      display: none;
    }

    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      margin: 1rem;
      background-color: $color-brown;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      &.swiper-pagination-bullet-active {
        background-color: $color-accent;
      }
    }
  }

  &__slide {
    box-sizing: border-box;
    background-color: $color-white;
    padding: 4.3rem 1.6rem;
  }

  &__icon {
    margin-bottom: 2.4rem;
    text-align: center;

    img {
      display: inline-block;
    }
  }

  &__title {
    font-family: $font-heading;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
  }

  &__text {
    font-family: $font-body;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
  }
}
