@font-face {
  font-family: "Vitesse";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Vitesse-Book.otf") format("opentype");
}

@font-face {
  font-family: "Vitesse";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Vitesse-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Vitesse";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Vitesse-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Whitney-Light.otf") format("opentype");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Whitney-Book.otf") format("opentype");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Whitney-Semibold.otf") format("opentype");
}
