//! set font variables
$font-heading: "Vitesse", Helvetica, Arial, sans-serif;
$font-body: "Whitney", Helvetica, Arial, sans-serif;

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-family: $font-body;
  font-size: 1.6rem;
  color: $color-dark;
}

.highlight {
  color: $color-accent;
}
