// Media Queries
@mixin respond-to($breakpoint) {
  @if $breakpoint== "xxs" {
    @media (min-width: 320) {
      @content;
    }
  } @else if $breakpoint== "xs" {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $breakpoint== "sm" {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint== "md" {
    @media (min-width: 960px) {
      @content;
    }
  } @else if $breakpoint== "lg" {
    @media (min-width: 1170px) {
      @content;
    }
  } @else if $breakpoint== "xl" {
    @media (min-width: 1920px) {
      @content;
    }
  } @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

// Centering
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Containers
@mixin container {
  padding-right: $side-space;
  padding-left: $side-space;

  @include respond-to("sm") {
    max-width: 1240px;
    margin: 0 auto;
  }
}

@mixin container-wide {
  padding-right: $side-space;
  padding-left: $side-space;

  @include respond-to("md") {
    max-width: 1920px;
    margin: 0 auto;
  }
}
