// Colors
$color-accent: #ed8b00;
$color-white: #fff;
$color-light: #f8f7f5;
$color-cream: #dbd6cc;
$color-brown: #8c867a;
$color-brown-dark: #4c4840;
$color-dark: #27251f;

// Spacing
$side-space: 1.6rem;
